<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <section class="app">

        <header>
            <nav class="header">
                <img src="images/logo-black.png" alt="" class="header-logo">
                <button class="header-menu-burger"><i class="fas fa-bars"></i></button>
                <ul class="header-menu show">
                    <li class="header-menu-item"><a href="" class="header-menu-item-link">news</a></li>
                    <li class="header-menu-item"><a href="" class="header-menu-item-link">analytics</a></li>
                    <li class="header-menu-item"><a href="" class="header-menu-item-link">event</a></li>
                    <li class="header-menu-item"><a href="" class="header-menu-item-link">explanined</a></li>
                    <li class="header-menu-item"><a href="" class="header-menu-item-link">icon cleander</a></li>
                </ul>
                <section class="clear-fix"></section>
            </nav>
        </header>

        <section class="content">

            <section class="intro-h-600px">

                <section class="intro-row intro-h-2-3 mb-10x">

                    <section class="intro-2-3-col intro-h-100 position-relative h-md-300pX">

                        <section class="im-bg bg-1 intro-h-100"></section>
                        <section class="intro-item-caption">
                            <h3 class="caption-title">
                                <span>
                                    bozorgtarin bakhsi ke mishod baray bozorgtarin ax toye site neveshte hamin bood
                                </span>
                            </h3>

                            <ul class="caption-info-bar">
                                <li> by <b class="text-yellow">olivia capzallo</b>jan 25, 2018</li>
                                <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                <li><i class=" fas fa-comments text-yellow"></i>30</li>
                            </ul>

                        </section>
                    </section>

                    <section class="intro-1-3-col intro-h-100">
                        <section class="intro-1-3-item intro-h-50 position-relative h-md-300pX">
                            <section class="im-bg bg-2 intro-h-100"></section>
                            <section class="intro-item-caption">
                                 <h3 class="caption-title">
                                    <b>
                                       too rdif avval va sotoon aval az bala
                                    </b>
                                 </h3>

                                <ul class="caption-info-bar">
                                    <li> by <b class="text-yellow">olivia capzallo</b>jan 25, 2018</li>
                                    <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                    <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                </ul>

                            </section>
                        </section>


                        <section class="intro-1-3-item intro-h-50 position-relative h-md-300pX">
                            <section class="im-bg bg-3 intro-h-100 mt-10x"></section>
                            <section class="intro-item-caption">
                                 <h3 class="caption-title">
                                    <b>
                                       too rdif avval va sotoon dovvom az bala yanii paiinieam
                                    </b>
                                 </h3>

                                <ul class="caption-info-bar">
                                    <li> by <b class="text-yellow">olivia capzallo</b>jan 25, 2018</li>
                                    <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                    <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                </ul>

                            </section>
                        </section>
                    </section>
                    <section class="clear-fix"></section>
                </section>





                <section class="intro-row intro-h-1-3">
                    <section class="intro-1-3-col-item intro-h-100 position-relative h-md-300pX">
                        <section class="im-bg bg-4 intro-h-100"></section>
                            <section class="intro-item-caption">
                                 <h3 class="caption-title">
                                    <b>
                                       too rdif dovvom  va sotoon avval  yanii avvali dar payin
                                    </b>
                                 </h3>

                                <ul class="caption-info-bar">
                                    <li> by <b class="text-yellow">olivia capzallo</b>jan 25, 2018</li>
                                    <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                    <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                </ul>

                            </section>
                    </section>

                    <section class="intro-1-3-col-item intro-h-100 position-relative h-md-300pX">
                        <section class="im-bg bg-5 intro-h-100"></section>
                            <section class="intro-item-caption">
                                 <h3 class="caption-title">
                                    <b>
                                       too rdif dovvom va sotoon dovvom az payyin 
                                    </b>
                                 </h3>

                                <ul class="caption-info-bar">
                                    <li> by <b class="text-yellow">olivia capzallo</b>jan 25, 2018</li>
                                    <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                    <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                </ul>

                            </section>
                    </section>

                    <section class="intro-1-3-col-item intro-h-100 position-relative h-md-300pX">
                        <section class="im-bg bg-6 intro-h-100"></section>
                            <section class="intro-item-caption">
                                 <h3 class="caption-title">
                                    <b>
                                       too rdif dovvom va sotoon sevvom az payyin
                                    </b>
                                 </h3>

                                <ul class="caption-info-bar">
                                    <li> by <b class="text-yellow">olivia capzallo</b>jan 25, 2018</li>
                                    <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                    <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                </ul>

                            </section>
                    </section>
                    <section class="clear-fix"></section>

                </section>
            </section>

            <section class="container">



                <main class="main">


                    <section class="main-news">
                        <h2 class="title">
                            RECENT NEWS
                        </h2>
                        <article>
                            <img src="images/recent-news-1-600x450.jpg" alt="" class="main-news-img">
                            <h3 class="article-title">
                                <a href="#">
                                    2017 market performance 
                                    crypto vs:stock
                                </a>
                                <ul class="info-bar">
                                    <li>
                                        <span class="text-mutted">by</span>
                                        <a href="#" class="color-black"><b>olivia capazallo</b></a>
                                        <span>jan 25, 2018</span>
                                    </li>
                                    <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                    <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                </ul>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipis
                                    icing elit. Distinctio temporibus dolor, ab repudiandae sit accusamus l
                                    audantium recusandae, dignissimos quidem ipsum 
                                    culpa? Dolore quas nam aut fugit hic. Porro, tempore quos.
                                </p>
                            </h3>
                        </article>
                    </section>





                    <section class="main-crypto-mining-news">

                        <h2 class="title">
                            MAIN CRYPTO NEWS
                        </h2>

                        <section class="main-news-w-50">
                            <article>
                                <img src="images/crypto-news-2-600x450.jpg" alt="" class="main-news-img">
                                <h3>
                                    <a href="#">
                                        2017 market performance 
                                        crypto vs:stock
                                    </a>
                                </h3>
                                <ul class="info-bar">
                                    <li>
                                        <span class="text-mutted">by</span>
                                        <a href="#" class="color-black"><b>olivia capazallo</b></a>
                                        <span>jan 25, 2018</span>
                                    </li>
                                    <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                    <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                </ul>
                            </article>
                        </section>

                        <section class="main-news-w-50">
                            <article>
                                <img src="images/crypto-news-1-600x450.jpg" alt="" class="main-news-img">
                                <h3>
                                    <a href="#">
                                        2017 market performance 
                                        crypto vs:stock
                                    </a>
                                </h3>
                                <ul class="info-bar">
                                    <li>
                                        <span class="text-mutted">by</span>
                                        <a href="#" class="color-black"><b>olivia capazallo</b></a>
                                        <span>jan 25, 2018</span>
                                    </li>
                                    <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                    <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                </ul>
                            </article>
                        </section>
                        <section class="clear-fix"></section>

                    


                    </section>




                </main>



                <aside class="sidebar">


                    <section class="sidebar-item">
                        <ul class="sidebar-list">
                            <li><b>1 BTC = $13,2323</b></li>
                            <li><b>1 BTC = $13,2323</b></li>
                            <li><b>1 BTC = $13,2323</b></li>
                            <li><b>1 BTC = $13,2323</b></li>
                            <li><b>1 BTC = $13,2323</b></li>
                            <li><b>1 BTC = $13,2323</b></li>
                        </ul>
                    </section>


                    <section class="sidebar-item">
                    
                            <h2 class="title">
                                POPULAR POST
                            </h2>

                            <section class="popular-post">
                                <img src="images/polular-1-100x100.jpg" alt="" class="popular-post-img">
                                <section class="popular-post-title">
                                    <h3><a href="#"><b> bitcoin bilioners hiding in plane sight and make it 
                                        very good and </b></a></h3>
                                    <ul class="info-bar">
                                        <li>
                                            <span class="text-mutted">by</span>
                                            <a href="#" class="color-black"><b>olivia capazallo</b></a>
                                            <span>jan 25, 2018</span>
                                        </li>
                                        <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                        <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                    </ul>
                                </section>
                                <section class="clear-fix"></section>
                            </section>

                            <section class="popular-post">
                                <img src="images/polular-2-100x100.jpg" alt="" class="popular-post-img">
                                <section class="popular-post-title">
                                    <h3><a href="#"><b> bitcoin bilioners hiding in plane sight and make it 
                                        very good and </b></a></h3>
                                    <ul class="info-bar">
                                        <li>
                                            <span class="text-mutted">by</span>
                                            <a href="#" class="color-black"><b>olivia capazallo</b></a>
                                            <span>jan 25, 2018</span>
                                        </li>
                                        <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                        <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                    </ul>
                                </section>
                                <section class="clear-fix"></section>
                            </section>

                            <section class="popular-post">
                                <img src="images/polular-3-100x100.jpg" alt="" class="popular-post-img">
                                <section class="popular-post-title">
                                    <h3><a href="#"><b> bitcoin bilioners hiding in plane sight and make it 
                                        very good and </b></a></h3>
                                    <ul class="info-bar">
                                        <li>
                                            <span class="text-mutted">by</span>
                                            <a href="#" class="color-black"><b>olivia capazallo</b></a>
                                            <span>jan 25, 2018</span>
                                        </li>
                                        <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                        <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                    </ul>
                                </section>
                                <section class="clear-fix"></section>
                            </section>


                            <section class="popular-post">
                                <img src="images/polular-4-100x100.jpg" alt="" class="popular-post-img">
                                <section class="popular-post-title">
                                    <h3><a href="#"><b> bitcoin bilioners hiding in plane sight and make it 
                                        very good and </b></a></h3>
                                    <ul class="info-bar">
                                        <li>
                                            <span class="text-mutted">by</span>
                                            <a href="#" class="color-black"><b>olivia capazallo</b></a>
                                            <span>jan 25, 2018</span>
                                        </li>
                                        <li><i class="fas fa-bolt text-yellow"></i>30,190</li>
                                        <li><i class=" fas fa-comments text-yellow"></i>30</li>
                                    </ul>
                                </section>
                                <section class="clear-fix"></section>
                            </section>
                    </section>

                    <section class="sidebar-item">
                        <h2 class="title">
                            NEWSLETTER
                        </h2>
                        <P >
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Saepe vel debitis cumque quo...
                        </P>
                        <form action="" class="subscribe-form">
                            <input type="text" class="subscribe-form-text" placeholder="YOUR EMAIL">
                            <button>b</button>
                            <section class="clear-fix"></section>
                        </form>

                    </section>

                </aside>
                <section class="clear-fix"></section>


            </section>
        </sectiion>
    </section>

    <footer class="fotter">
        <section class="app">


            <section class="fotter-row">

                <section class="fotter-col">
                    <img src="images/logo-white.png" alt="" class="fotter-logo">
                    <section class="clear-fix"></section>
                    <p class="fotter-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                         Ullam recusandae facilis ut voluptatem id,
                         quam saepe et quis voluptate numquam!
                    </p>
                    <p class="fotter-p fotter-p-padding-20px">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        . Ullam laudantium ea recutationem rem.
                    </p>
                </section>


                <section class="fotter-col">
                    <h3 class="fotter-section-title">MOST POPULAR</h3>
                    <section class="fotter-section-link-item">
                        <a href="#">its make or break time for bitcoin</a>
                        <p>jan 25 , 2018</p>
                        <section class="fotter-line"></section>
                        <section class="fotter-section-link-item">
                            <a href="#">bitcoins roller coster is over</a>
                            <p>jan 25 , 2018</p>
                        </section>
                    </section>
                </section> 


                <section class="fotter-col">
                    <h3 class="fotter-section-title">MOST POPULAR</h3>
                    <section class="fotter-section-link-item">
                        <a href="#">its make or break time for bitcoin</a>
                        <p>jan 25 , 2018</p>
                        <section class="fotter-line"></section>
                        <section class="fotter-section-link-item">
                            <a href="#">bitcoins roller coster is over</a>
                            <p>jan 25 , 2018</p>
                        </section>
                    </section>
                </section> 
     
            
            
                        
            </section>
            <section class="clear-fix"></section>




            <section class="fotter-line"></section>
            <section class="fotter-row"></section>
        </section>
    </footer>
</body>
</html>